body {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #274d01f5;
  background-image: url(../images/sunset_lighthouse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

canvas {
  border: 10px solid rgb(255, 0, 204);
  width: 3040px;
  height: 1350px;
}

.container {
  text-align: center;
}

#startButton {
  padding: 10px 20px;
  font-size: 28px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

